<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="<%= favicon %>" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Homepage</title>
</head>

<body id="top">
    <a id="button" href="#top">
        <img src="top.png" alt="top" class="topIcon">
    </a>
    <%- include('./partials/navbar') %>
        <div class="cards">
            <% let info=api.data %>
                <% info.map(el=> { %>
                    <div class="single">
                        <img src="<%= el.img %>" alt="imgs">
                        <p class="name">
                            <%= el.name %>
                        </p>
                        <p id="nickname">Known as <span>
                                <%= el.nickname %>
                            </span></p>
                        <p id="occupation">Occupation </p>
                        <p id="occ">
                            <%= el.occupation %>
                        </p>
                        <p id="occupation">Actor name </p>
                        <p id="occ">
                            <%= el.portrayed %>
                        </p>
                        <% if(el.category.includes('Better Call Saul') && el.better_call_saul_appearance.length> 0){ %>
                            <img src="https://images.amcnetworks.com/amc.com/wp-content/uploads/2014/06/BCS-S5_white-logo.png"
                                id="bcsLogo" alt="bcs">
                            <% } %>
                    </div>
                    <% }) %>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        <script src="hp.js"></script>
</body>

</html>